.parent {
    display: flex;
    place-items: center; /* Centers both horizontally and vertically */
    border: 1px solid black;
    flex-direction: column;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black; 
    align-items: center;
    padding: 0 10px;
}